# jupyter notebooks
/notebooks/
.ipynb_checkpoints/

# pytest cache
/tests/.pytest_cache/

# configuration files
/resources/sources.yaml
/resources/datasets.yaml
/resources/tasks.yaml

# experiments result folder
/experiments/

# datasets folder
/data/

# ignore all jupyter notebooks except for the example.ipynb
*.ipynb
!border functions.ipynb
!example.ipynb

# pickle files
*.pkl

# mypy files
.mypy_cache/
.dmypy.json

# python cache
__pycache__/

# data
*.zip
