pystan
scikit-learn
numpy
Cython==0.26.1
boto3==1.7.5
certifi==2017.11.5
dask==0.17.2
s3fs==0.1.4
statsmodels==0.8.0
matplotlib==2.0.2
cycler==0.10.0
pandasql==0.7.3
PyYAML==3.12
Jinja2==2.9.6
tables==3.4.2
botocore==1.10.5
xlrd==1.1.0
numexpr==2.6.4
